:root {
  --ja-shadow-x-small: 0 1px 2px hsl(240 3.8% 46.1% / 20%);
  --ja-shadow-small: 0 1px 2px hsl(240 3.8% 46.1% / 20%);
  --ja-shadow-medium: 0 2px 4px hsl(240 3.8% 46.1% / 20%);
  --ja-shadow-large: 0 2px 8px hsl(240 3.8% 46.1% / 20%);
  --ja-shadow-x-large: 0 4px 16px hsl(240 3.8% 46.1% / 20%);
  --ja-shadow-2x-large: 0 8px 32px hsl(240 3.8% 46.1% / 20%);
}
